<!DOCTYPE html>
<html lang="en" style=" height: 100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SportCastle.com</title>
  <link rel="icon" href="/images/sportcastle.jpg">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="style/page1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="style/Main.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light position-sticky">
    <div class="container-fluid ms-lg-4">
      <a class="navbar-brand" href="">
        <img style="width: 50px ; height: 50px;" src="/images/sportcastle.jpg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex">
        <input style="width: 500px; " class="form-control me-2 rounded-pill btn btn-outline-success bg-light "
          type="search" placeholder="Search" aria-label="Search">

      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4 justify-content-around">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="#">Contact US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="#">Membership?</a>
          </li>
          <i class="fa-solid fa-cart-shopping fs-4 mt-2 text-secondary ms-3 text-dark"></i>

        </ul>


      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto d-flex justify-content-between">
            <li class="nav-item">
                <a class="nav-link " href="Main.html">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="NewArrival.html">New Arrival</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="Promotion.html">Up to 10% Off</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "  href="shoe.html">Shoes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="jersey.html">Jersey</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="Accessories.html">Accessories</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div style="width: 90%;height: 400px; margin-left: 60px;" class="carousel-item active">
        <img src="/images/Italy.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div style="color: lightblue;">
            <h5>Italy Kits</h5>
            <p>Nazionale di calcio dell'Italia</p>
          </div>
        </div>
      </div>
      <div style="width: 90%;height: 400px; margin-left: 60px;" class="carousel-item">
        <img src="/images/Germany.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div style="color: lightskyblue;">
            <h5>Germany kits</h5>
            <p>Deutsche Fußballnationalmannschaft</p>
          </div>
        </div>
      </div>
      <div style="width: 90%;height: 400px; margin-left: 60px;" class="carousel-item">
        <img src="/images/England.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">

          <div style="color: lightskyblue;">
            <h5>England Kits</h5>
            <p>England national football team</p>
          </div>

        </div>
      </div>
    </div>

  </div>
 <!--Accessories-->
 <h3 class=" my-5 ms-3">Accessories</h3>
 <div stye class="container d-flex my-5 justify-content-around flex-wrap ">
   <div class="card col-12 col-md-6 col-lg-4 product  border-3" style="width: 15rem;">
     <img style="height: 300px;" src="/images/acc. Nike Strike Mercurial Sock.avif" class="card-img-top" alt="...">
     <div class="card-body border-3">
       <p class="card-text ">Nike Strike Mercurial Sock</p>
       <h3 style="margin-top:85px ;">$5</h3>
     </div>
   </div>
   <div class="card col-12 col-md-6 col-lg-4 product  border-3" style="width: 15rem;">
     <img style="height: 300px;" src="/images/acc.Nike Grip Strike LightCrew Sock.avif" class="card-img-top" alt="...">
     <div class="card-body border-3">
       <p class="card-text">Nike Grip Strike LightCrew Sock</p>
       <h3 style="margin-top:65px;">$6</h3>
     </div>
   </div>
   <div class="card col-12 col-md-6 col-lg-4 product  border-3" style="width: 15rem;">
     <img style="height: 200px; " src="/images/acc.Adidas Freak 3.0.webp" class="card-img-top my-5" alt="...">
     <div class="card-body my-2 border-3">
       <p class="card-text">Adidas Freak 3.0</p>
       <h3 style="margin-top:85px ;">$15</h3>
     </div>

   </div>

   <div class="card col-12 col-md-6 col-lg-4 product  mt-3 border-3" style="width: 15rem;">
     <img style="height: 300px;" src="/images/acc.Nike Adult Vapor jet5.0.jpg" class="card-img-top rounded-1 "
       alt="...">
     <div class="card-body ">
       <p class="card-text">Nike Adult Vapor jet5.0</p>
       <h3 style="margin-top:65px ;">$12</h3>
     </div>

   </div>
   <div class="card col-12 col-md-6 col-lg-4 product mt-3 border-3" style="width: 15rem;">
     <img style="height: 300px; " src="/images/acc.Nike Mercurial Lite Shin.avif" class="card-img-top  rounded-1"
       alt="...">
     <div class="card-body border-3">
       <p class="card-text">Nike Mercurial Lite Shin</p>
       <h3 style="margin-top:65px ;">$5</h3>
     </div>

   </div>
   <div class="card col-12 col-md-6 col-lg-4 product mt-3 border-3 " style="width: 15rem;">
     <img style="height: 300px; " src="/images/acc.Nike Shin Pads Mercurial Flylite.jpg"
       class="card-img-top  rounded-1" alt="...">
     <div class="card-body border-3 ">
       <p class="card-text">Nike Shin Pads Mercurial Flylite</p>
       <h3 style="margin-top:45px ;">$7</h3>
     </div>

   </div>
   <div class="card col-12 col-md-6 col-lg-4 product mt-3 border-3 " style="width: 15rem;">
     <img style="height: 300px;" src="/images/acc.Wrist Tape.jpg" class="card-img-top  rounded-1" alt="...">
     <div class="card-body border-3 ">
       <p class="card-text">Wrist Tape</p>
       <h3>$3</h3>
     </div>

   </div>
   <div class="card col-12 col-md-6 col-lg-4 product mt-3 border-3 " style="width: 15rem;">
     <img style="height: 300px;" src="/images/acc.Nike Knitted Knee Sleeve.jpg" class="card-img-top  rounded-1"
       alt="...">
     <div class="card-body border-3 ">
       <p class="card-text">Nike Knitted Knee Sleeve</p>
       <h3>$4</h3>
     </div>

   </div>
   <div class="card col-12 col-md-6 col-lg-4 product mt-3 border-3 " style="width: 15rem;">
     <img style="height: 300px; " src="/images/acc.Nike Captain Armband.jpg" class="card-img-top  rounded-1" alt="...">
     <div class="card-body border-3 ">
       <p class="card-text">Nike Captain Armband</p>
       <h3>$5</h3>
     </div>

   </div>

 </div>
 
  <hr>
  <div class="container-fluid product d-flex flex-wrap justify-content-center border-5 border-dark">
    <div class="logo-item">
      <img style="max-width: 100%; height: auto;" src="/images/sportcastle.jpg" alt="Sport Castle">
      <p class="text-center">Sport Castle</p>
    </div>
    <div class="logo-item">
      <img style="max-width: 100%; height: auto;" src="/images/nikelogo.png" alt="Nike">
      <p class="text-center">Nike</p>
    </div>
    <div class="logo-item">
      <img style="max-width: 100%; height: auto;" src="/images/addidas logo.jpg" alt="Adidas">
      <p class="text-center">Adidas</p>
    </div>
    <div class="logo-item">
      <img style="max-width: 100%; height: auto;" src="/images/puma logo.jpg" alt="Puma">
      <p class="text-center">Puma</p>
    </div>
    <div class="logo-item">
      <img style="max-width: 100%; height: auto;" src="/images/mizunologo.jpg" alt="Mizuno">
      <p class="text-center">Mizuno</p>
    </div>
    <div class="logo-item">
      <img style="max-width: 100%; height: auto;" src="/images/etec.jpg" alt="Etec Project">
      <p class="text-center">Etec Project</p>
    </div>
  </div>
  </div>